$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: rgba(255, 185, 0, 0.82);
$color-secondary-dark: rgba(255, 119, 48, 0.85);

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-white: #fff;
$color-black: #000;

$grid-width: 114rem;
$default-font-size: 1.6rem;
$default-column-gap: 6rem;