
.container {
  max-width: $grid-width;
  padding: 0 3.2rem;
  margin: 0 auto;

  &__footer {
    max-width: 162rem;
  }
}

.grid {
  display: grid;
  margin: 0 auto;

  &--2-cols {
    grid-template-columns: repeat(2, 1fr);


  }

  &--3-cols {
    grid-template-columns: repeat(3, 1fr);
  }

  &--4-cols {
    grid-template-columns: repeat(4, 1fr);
  }

  &--5-cols {
    grid-template-columns: repeat(5, 1fr);
  }

  &--center-v {
    align-items: center;
  }

  &__same-width {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  &__contact {

    grid-template-columns: repeat(1, 1fr);
  }

  &__footer {

    grid-template-rows: repeat(2, 1fr);



    &-details {
      column-gap: 25rem;
      max-width: 132rem;
      @include respond(big-desktop) {
        column-gap: 12rem;
      }

      @include respond(tab-land) {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 5rem;
        justify-content: center;

      }
    }

  }

  &__about {
    column-gap: $default-column-gap;

    max-width: 136.8rem;

  }

  &__features {
    max-width: 138rem;
    column-gap: $default-column-gap;
    @include  respond(tab-land) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      row-gap: 6rem;
    }

  }

  &__tours {
    max-width: 140rem;
    column-gap: $default-column-gap;
    @include respond(tab-port) {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(3, 1fr);
      row-gap: 5rem;

  }


  }


}



